doctype
html
  head
    title #{title} - FCUAV
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Fuel Cell Hybrid Test Rig
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Simon Howroyd 2014, Loughborough University
      p Running on node with Express, Jade and Stylus
